* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.html {
  font-size: 62.5%;
}

p {
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 0.2rem #333;
}
h1 {
  font-size: 6rem;
  text-shadow: 0.2rem 0.2rem 0.2rem #333;
}
.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.app:before {
  content: "";
  background-image: url(./assets/landscape-3369304_1920.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.app .search {
  text-align: center;
  padding: 10px;
}
.app input {
  max-width: 80%;
  padding: 1rem 1.5rem;
  font-size: 30px;
  border-radius: 12px;
  border: none;
  /* border: 1px solid white; */
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem #333;
}
.app input:hover {
  cursor: text;
}
::placeholder {
  color: white;
}

.container {
  max-width: 100%;

  margin: auto;
  padding: 0 10px;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-around;
}
.app .top {
  width: 40%;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 20px;
}

.app .description {
  position: relative;
  right: -90;
}
.app .bottom {
  display: flex;
  gap: 3rem;
  justify-content: space-evenly;
  text-align: center;
  width: 60%;
  margin: 1rem auto;
  padding: 3.8rem 2rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.3);
}

.bold {
  font-weight: 700;
}
.cold {
  content: "";
  background-image: url("./assets/storm-4651306_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100vh;
}
.warm {
  content: "";
  background-image: url("./assets/wheat-2391348_1920.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100vh;
}
.loading {
  padding: 20px;
  border: 1px solid white;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Tablem (768px) */
@media (max-width: 48em) {
  .app .top {
    width: 50%;
  }
  .app .bottom {
    width: 65%;
  }
}

@media (max-width: 42em) {
  html {
    font-size: 56.2%;
  }
  .app .top {
    width: 70%;
    font-size: 1.8rem;
  }
  .app .bottom {
    width: 70%;
  }
}
/* Mobile L (425px) */
@media (max-width: 26.7em) {
  .app input {
    font-size: 2rem;
  }
  .app .bottom {
    width: 80%;
    /* padding: 3.8rem 0rem; */
  }
}

/* Mobile S (320px)  */
@media (max-width: 20em) {
  .app .top {
    width: 80%;
  }
  .app .bottom {
    width: 80%;
    padding: 3.8rem 0.2rem;
  }
  .app .bottom:first-child {
    font-size: 1.4rem;
  }
}
